{% extends "layout.html" %}
{% block body %}
<br>
<form action="{{url_for('crud_holiday')}}" method="post" class="crud-holiday">
    <div class="form-group">
        <label for="InputDate">祝日 日付</label>
        <input type="date" class="form-control" id="InputDate" name="holi_date">
    </div>
    <div class="form-group">
        <label for="InputText">祝日 テキスト</label>
        <input type="text" class="form-control" id="InputText" name="holi_text">
    </div>
    <button type="submit" class="btn btn-primary" name="button" value="insert_update">新規登録・更新</button>
    <button type="submit" class="btn btn-danger" name="button" value="delete" style="margin-left: 10px;">削除</button>
</form>
<br><br>
<a href="{{url_for('display_holidays')}}" class="btn btn-secondary" role="button" data-bs-toggle="button">一覧表示</a>
{% endblock %}