{% extends "layout.html" %}
{% block body %}
<form action="{{url_for('add_holiday')}}" method="POST">
    <div class="form-group">
        <label for="InputDate">祝日日付</label>
        <input type="date" class="form-control" id ="InputDate" name="holiday">
    </div>
    <div class="form-group">
        <label for="InputText">祝日テキスト</label>
        <input type="text" class="form-control" id = "InputText" name="holiday_text">
    </div>
    <button type="submit" class="btn btn-primary" name="button" value="input_date">新規登録・更新</button>
    <button type="submit" class="btn btn-danger" name="button" style="margin-left: 5px" value="del_date">削除</button>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary" name="button" value="list" style="margin-top:5px">一覧表示</button>
    </div>
    
</form>


{% endblock %}