{% extends "layout.html" %}

{% block body %}

<form action="{{url_for('add_input')}}" method="post" class="add-input">
    <div class="form-group">
        <label for="InputHoliday">祝日 日付</label>
        <input type="text" class="form-control" id="InputHoliday" name="holiday">
    </div>

    <div class="form-group">
        <label for="InputHolidayText">祝日 テキスト</label>
        <input type="text" class="form-control" id="InputHolidayText" name="holiday_text">
    </div>
    
    <button type="submit" class="btn btn-primary">新規登録・更新</button>
    <button type="submit" class="btn btn-danger">削除</button>
</form>

{% endblock %}