{% extends "base.html" %}
{% block body %}

<!-- <script>
    function buttonClick() {
        alert('削除しますか')
    }
</script> -->

{% for gas in gases %}

<div class="card" style="margin-top: 10px;">
    <div class="card-body">
        <h5 class="card-title">{{'{0}km/L({1})'.format(gas.nenpi, gas.car)}}</h5>
        <h6 class="card-subtitle mb-2">{{'ガソリン総額{1}円'.format(gas.nenpi, gas.price)}}</h6>
        <p class="card-text">{{gas.extra}}</p>

        <a href="{{url_for('show_edit', id=gas.id)}}" class="btn btn-secondary" style="float:left;">編集</a>
        <form action="{{url_for('delete_nenpi', id=gas.id)}}" method="POST" style="float:left; margin-left:5px;">
            <button type="submit" class="btn btn-danger">削除</button>
        </form>
    </div>
</div>

{% endfor %}

{% endblock %}