<!-- 5. index.html 작성 -->
{% extends "layout.html" %} <!-- layout.html 내용을 引き継ぐ -->
{% block body %} <!-- layout.html의 {#block body#} {#endblock#}의 부분을 置き換える -->
<ul class = "list-group list-group-flush">

{% for entry in entries %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ entry.title }}</h5>
            <a href="{{ url_for('show_entry', id=entry.id)}}" class="card-link">続きを読む</a>
        </div>
    </div>
{% else %}
    投稿がありません    
{% endfor %}
</ul>

{% endblock %}