*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 30px;
}

.input_form{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 80%;
}

.input_area{
    margin-bottom: 20px;
}

.input_style{
    width: 100%;
}

.input_buttons_area{
    margin-bottom: 20px;
}


